



<%- include("header.ejs") %>
<h1>About </h1>
<p>Welcome to my website. <br>
I hope You like What I write.. <br>
If You don't then please proceed to the contact page and leave a feedback there. <br>
And if you do like then add a thumbs up.
</p>

<%- include("footer.ejs") %>
