

<%- include("header.ejs") %>
<h1>Contact</h1>
<p>
You can contact me in either of the following ways:

<ul>
  <li>Contact using mail: yashika3106@gmail.com</li>
  <li>Contact using phone: 7728046900</li>
  <li>DM at: <a href="https://www.instagram.com/yashika__meghwanii/">My profile</a></li>
</ul>


  </p>

  <p><label>Leave a feedback:</label>

<form class="forms" action="/" method="post">
  <textarea name="name" rows="8" cols="100" ></textarea> <br>
  <button type="submit" class="btn btn-lg btn-primary" name="button">Submit feedback</button>
</form>

  </p>

<%- include("footer.ejs") %>
