<%- include("header.ejs") %>
<h1>Home</h1>

<p>Hello this is a website created by Yashika Meghwani. <br>
I wanted to test all the skillls I've learnt till now in the course modules. <br>
And hence I created my very own very first website so as to put in everything.</p>

<%- include("footer.ejs") %>
